#logo {

    animation: moveLogo 2s ease-out 1;
}

#head-link {
    animation: textColor 2s ease-out 1;
}

#head:hover {
    transform: translateY(-2px);
}

#search-button:hover,
#close:hover {
    background-color: rgb(187, 214, 245);
    transition: background-color 0.8s ease;
}

#nav-list {

    li:hover {

        transform: translateY(-2px);
    }
}

#dest1:hover,
#dest2:hover,
#dest3:hover,
#dest4:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}