@use "variables";
@use "mixins";

#container {
    width: 100%;
    height: 100%;
}

header {
    background-color: variables.$primary-color;
    padding: 2%;
    padding-bottom: 0;

    h1 {
        a {
            text-decoration: none;
            font-size: 60px;
            color: white;
            letter-spacing: 0.5px;
            padding-left: 2%;

            @media only screen and (max-width: 900px) {
                font-size: 50px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 40px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 30px;
            }
        }
    }

    #nav-list {
        list-style: none;
        margin-bottom: 0;
        margin-right: 4%;

        @media only screen and (max-width: 600px) {
            padding-left: 0;
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: white;
            letter-spacing: 0.5px;
            border-bottom: 1px solid white;
            font-weight: bold;

            @media only screen and (max-width: 900px) {
                font-size: 16px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 15px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 12px;
            }

            @media only screen and (max-width: 500px) {
                font-size: 11px;
            }
        }
    }
}

main {

    #start-section {

        #start-text {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 2%;
            padding-left: 8%;
            padding-right: 8%;
            text-align: center;
            color: variables.$primary-color;

            h2 {
                font-size: 50px;

                @media only screen and (max-width: 1350px) {
                    font-size: 40px;
                }

                @media only screen and (max-width: 1200px) {
                    font-size: 35px;
                }

                @media only screen and (max-width: 900px) {
                    font-size: 30px;
                }

                @media only screen and (max-width: 700px) {
                    font-size: 24px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }

            p {
                font-weight: bold;
                font-size: 22px;
                letter-spacing: 0.5px;

                @media only screen and (max-width: 1350px) {
                    font-size: 20px;
                }

                @media only screen and (max-width: 1200px) {
                    font-size: 19px;
                }

                @media only screen and (max-width: 900px) {
                    font-size: 17px;
                }

                @media only screen and (max-width: 700px) {
                    font-size: 15px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 12px;
                }
            }
        }
    }

    #search-section {
        @include mixins.Design();

        h3 {
            font-size: 24px;
            color: white;
            letter-spacing: 0.5px;

            @media only screen and (max-width: 1200px) {
                font-size: 22px;
            }

            @media only screen and (max-width: 1000px) {
                font-size: 19px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 17px;
            }
        }

        #search-start {
            padding-left: 5%;
        }

        p {
            color: white;
            font-weight: bold;
            margin-bottom: 3%;
            font-size: 18px;
            letter-spacing: 0.5px;

            @media only screen and (max-width: 1200px) {
                font-size: 15px;
            }

            @media only screen and (max-width: 600px) {
                font-size: 13px;
            }
        }

        #landSuggestions {

            display: grid;
            justify-self: center;
            border: 1px solid white;
            padding-top: 2%;
            padding-bottom: 2%;
            width: 90%;

            #keywords {
                list-style: none;
                color: white;
                margin-top: 6%;
                padding-left: 0;

                @media only screen and (max-width: 1200px) {
                    font-size: 14px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 12px;
                }
            }
        }

        #wrong {

            display: grid;

            p {
                text-align: left;
                font-weight: 300;
                font-size: 14px;

                @media only screen and (max-width: 1200px) {
                    font-size: 13px;
                }

                @media only screen and (max-width: 600px) {
                    font-size: 10px;
                }
            }
        }
    }

    #destination-section {

        margin-top: 20%;

        @media only screen and (max-width: 1650px) {
            margin-top: 25%;
        }

        @media only screen and (max-width: 1400px) {
            margin-top: 30%;
        }

        @media only screen and (max-width: 1050px) {
            margin-top: 40%;
        }

        @media only screen and (max-width: 950px) {
            margin-top: 55%;
        }

        @media only screen and (max-width: 800px) {
            margin-top: 65%;
        }

        @media only screen and (max-width: 650px) {
            margin-top: 75%;
        }

        h3 {
            font-size: 24px;
            color: variables.$primary-color;
            letter-spacing: 0.5px;

            @media only screen and (max-width: 1050px) {
                font-size: 20px;
            }

            @media only screen and (max-width: 800px) {
                font-size: 18px;
            }

            @media only screen and (max-width: 650px) {
                font-size: 15px;
            }
        }

        #suggestion-one,
        #suggestion-two {
            margin-top: 3%;
        }

        #pictext-one,
        #pictext-two {
            font-weight: bold;
            margin-top: 2%;
            margin-bottom: 3%;

            p {

                @media only screen and (max-width: 1050px) {
                    font-size: 14px;
                }

                @media only screen and (max-width: 650px) {
                    font-size: 11px;
                }

                @media only screen and (max-width: 500px) {
                    width: 100%;
                    font-size: 10px;
                }
            }
        }
    }

    #result-section {
        border: 2px solid variables.$primary-color;
        margin-top: 25%;
        background-color: rgb(216, 239, 250);

        @media only screen and (max-width: 1550px) {
            margin-top: 30%;
        }

        @media only screen and (max-width: 1050px) {
            margin-top: 45%;
        }

        @media only screen and (max-width: 900px) {
            margin-top: 60%;
        }

        @media only screen and (max-width: 720px) {
            margin-top: 65%;
        }

        @media only screen and (max-width: 600px) {
            margin-top: 70%;
        }

        @media only screen and (max-width: 550px) {
            margin-top: 75%;
        }

        h3 {
            font-size: 24px;
            color: variables.$primary-color;
            letter-spacing: 0.5px;
            margin-top: 3%;

            @media only screen and (max-width: 700px) {
                font-size: 20px;
            }
        }

        #flagSpot {
            margin-top: 3%;

            p {
                padding-right: 5%;
            }

            img {
                margin: 3%;
            }
        }

        #restOfInfo,
        #timeSpot,
        #tempSpot {
            background-color: white;
            margin: 3%;
            padding: 1%;
            letter-spacing: 0.5px;
            color: variables.$primary-color;
            font-size: 18px;
            font-weight: bold;

            @media only screen and (max-width: 1050px) {
                font-size: 15px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 12px;
            }

            @media only screen and (max-width: 550px) {
                font-size: 10px;
            }
        }

        #tempSpot {

            img {
                margin-top: 0;
                margin-left: 8%;
                margin-bottom: 4%;
            }
        }
    }

    #about-section {
        display: grid;
        justify-self: center;
        background-color: variables.$primary-color;
        letter-spacing: 0.5px;
        line-height: 1.5em;
        padding: 3%;
        margin-top: 6%;
        margin-bottom: 6%;

        h2 {
            font-size: 50px;
            color: white;
            margin-top: 4%;

            @media only screen and (max-width: 1350px) {
                font-size: 45px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 38px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 29px;
            }
        }

        p,
        ul {
            color: white;
            max-width: 58ch;

            @media only screen and (max-width: 1350px) {
                font-size: 15px;
            }

            @media only screen and (max-width: 700px) {
                font-size: 13px;
                max-width: 85%;
            }

            @media only screen and (max-width: 500px) {
                font-size: 11px;
                max-width: 85%;
            }
        }
    }
}

footer {
    background-color: variables.$primary-color;
    color: white;
    letter-spacing: 0.5px;
    line-height: 2em;
    margin-top: 6%;

    @media only screen and (max-width: 500px) {
        line-height: 1.5em;
    }

    #instagram {
        margin-top: 3%;

        h4 {
            @media only screen and (max-width: 700px) {
                font-size: 17px;
            }

            @media only screen and (max-width: 500px) {
                font-size: 15px;
            }
        }

        p {
            margin-top: 0;

            @media only screen and (max-width: 700px) {
                font-size: 14px;
            }

            @media only screen and (max-width: 500px) {
                font-size: 11px;
            }
        }
    }

    #link-section {

        h4 {
            @media only screen and (max-width: 700px) {
                font-size: 17px;
            }

            @media only screen and (max-width: 500px) {
                font-size: 15px;
            }
        }

        ul {

            padding-left: 0;

            li {
                text-decoration: underline;
                cursor: pointer;

                @media only screen and (max-width: 700px) {
                    font-size: 14px;
                }

                @media only screen and (max-width: 500px) {
                    font-size: 11px;
                }

                a {
                    color: white;

                    @media only screen and (max-width: 700px) {
                        font-size: 14px;
                    }

                    @media only screen and (max-width: 500px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }

    picture {
        margin-top: 2%;
    }

    p {
        margin-bottom: 3%;

        @media only screen and (max-width: 700px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 500px) {
            font-size: 11px;
        }
    }
}