@keyframes moveLogo {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(9deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@keyframes textColor {
    0% {
        color: #00809D;
    }

    50% {
        color: #45bdd8;
    }

    100% {
        color: white;
    }
}