@use "mixins";

header {

    picture {
        display: grid;
        justify-self: center;

        img {
            @media only screen and (max-width: 700px) {
                width: 150px;
            }

            @media only screen and (max-width: 600px) {
                width: 120px;
            }
        }
    }

    #header-text {
        display: grid;
        grid-template-columns: 70% 1fr;
        align-items: baseline;

        @media only screen and (max-width: 1200px) {
            grid-template-columns: 60% 1fr;
        }

        @media only screen and (max-width: 900px) {
            grid-template-columns: 55% 1fr;
        }
    }

    #nav-list {
        display: grid;
        grid-template-columns: 1fr 35%;
        text-align: center;

        @media only screen and (max-width: 500px) {
            grid-template-columns: 1fr 40%;
        }
    }
}

main {

    #start-section {

        position: relative;
        width: 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        #start-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media only screen and (max-width: 1150px) {
                width: 45%;
            }

            @media only screen and (max-width: 800px) {
                width: 48%;
            }

            @media only screen and (max-width: 600px) {
                width: 55%;
            }

            @media only screen and (max-width: 500px) {
                width: 65%;
            }
        }
    }

    #search-section {
        @include mixins.Placement();

        @media only screen and (max-width: 1000px) {
            width: 80%;
        }

        @media only screen and (max-width: 500px) {
            width: 90%;
        }

        #search-start {
            display: grid;
        }

        p {
            display: grid;
            text-align: center;
        }

        #keywords {
            display: grid;
            justify-self: center;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 95%;

            @media only screen and (max-width: 1000px) {
                grid-template-columns: none;
                line-height: 1.6em;
            }
        }
    }

    #result-section {
        display: grid;
        justify-self: center;
        width: 55%;

        @media only screen and (max-width: 1200px) {
            width: 65%;
        }

        @media only screen and (max-width: 1050px) {
            width: 80%;
        }

        @media only screen and (max-width: 500px) {
            width: 90%;
        }

        #nameSpot {
            display: grid;
            text-align: center
        }

        #flagSpot {
            display: grid;

            img {
                display: grid;
                justify-self: center;
                width: 25%;
            }
        }

        #restOfInfo,
        #timeSpot,
        #tempSpot {
            display: grid;
            width: 60%;

            @media only screen and (max-width: 1550px) {
                width: 75%;
            }

            @media only screen and (max-width: 1200px) {
                width: 80%;
            }

            @media only screen and (max-width: 1050px) {
                width: 90%;
            }
        }

        #tempSpot {

            img {
                @media only screen and (max-width: 1050px) {
                    width: 10%;
                }

                @media only screen and (max-width: 550px) {
                    width: 8%;
                }
            }
        }
    }

    #destination-section {
        @include mixins.secPlacement();

        @media only screen and (max-width: 450px) {
            width: 85%;
        }

        h3 {
            text-align: center;
        }

        #suggestion-one,
        #suggestion-two {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            img {
                @media only screen and (max-width: 1600px) {
                    width: 80%;
                }

                @media only screen and (max-width: 1200px) {
                    width: 90%;
                }
            }
        }

        #pictext-one,
        #pictext-two {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;

            p {
                @media only screen and (max-width: 1600px) {
                    width: 80%;
                }
            }
        }
    }
}

#about-section {
    display: grid;
    justify-self: center;
    width: 75%;

    @media only screen and (max-width: 1350px) {
        width: 80%;
    }

    h2 {
        justify-self: center;
    }

    #about-div {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        @media only screen and (max-width: 1050px) {
            grid-template-columns: none;
        }

        picture {
            img {
                @media only screen and (max-width: 1350px) {
                    width: 180px;
                }

                @media only screen and (max-width: 1050px) {
                    margin-top: 10%;
                }

                @media only screen and (max-width: 700px) {
                    width: 150px;
                }

                @media only screen and (max-width: 500px) {
                    width: 110px;
                }
            }
        }
    }
}

footer {

    display: grid;
    width: 100%;

    h4 {
        font-size: 20px;
    }

    #instagram {
        display: grid;
        justify-self: center;
        text-align: center;
    }

    #link-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        justify-items: center;
        width: 60%;

        ul {
            list-style: none;
        }
    }

    picture {
        display: grid;
        justify-self: center;

        img {
            @media only screen and (max-width: 700px) {
                width: 65px;
            }
        }
    }

    p {
        text-align: center;
    }
}